.App {
  text-align: center;
}

.bg-dark {
  height: 100px;
}

.image-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 750px;
  height: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

.image-wrapper {
  flex: 0 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image:hover {
  cursor: pointer;
}

.modal {
  font-family: 'Nixie One', cursive;
}

.modal-header {
  background: #f29898 !important;
  color: #fff;
}

.modal-title {
  font-weight: 800 !important;
}

.modal-img-wrapper {
  text-align: center;
  padding-bottom: 15px;
}

.description {
  font-weight: 800;
}

.btn-outline-secondary {
  color: #f29898 !important;
  border-color: #f29898 !important;
}

.btn-outline-secondary:hover {
  background: #f29898 !important;
  color: #ffffff !important;
}
